---
name: Build and test
on:
  - push

permissions:
  contents: read

jobs:
  build_and_test:
    name: Build and test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - run: go version
      - name: Test
        uses: robherley/go-test-action@v0.6.0
        with:
          testArguments: -race -cover -covermode=atomic -coverprofile=coverage.txt ./...
      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v5
